div {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    /*float: left;*/

    
}

#one {
    background-color: #FF0000 ;
    text-align: center;
    color: #308014;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 10px;
    outline-color: #ffffff;
    -webkit-text-stroke: .5px darkgrey;

}

#two {
    background-color: #0000FF ;
      text-align: center;
    color: #FFD700;
    text-transform: uppercase;
    font-size: 18px;
      padding-bottom: 10px;
      /*position: fixed;*/
  
}

#three {
    background-color: #FFD700 ;
      text-align: center;
    color: #FF0000;
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 10px;
    float: none;
}

#four {
    background-color: #308014;
    text-align: center;
    color: #0000FF;
    text-transform: uppercase;
    font-size: 18px;
      padding-bottom: 10px;
      -webkit-text-stroke: .25px darkgrey;
}
